  #start-button {
    border-radius: 10%;
    font-size: 30px;
    height: auto;
    font-family: monospace;
    font-weight: bold;
  }
  #content {
    background-color: black;
    min-height: 100vh;
    color: white;
    margin: 0 auto;
    text-align: center;
    position: relative;
  }

  .header{
    font-size: 40px;
    font-weight: bold;
  }
  
  body { 
      background-color: black;
      padding: 0;
      margin: 5px;
      height: 100vh;
  }

  footer {
      position: absolute;
      height: 20px;
      bottom: 1;
      width: 100vh;
      text-align: left;
      padding-left: 10px;
      font-size: 36px;
  }

  .logo {
      width: 25px;
      height: 25px;
      margin: 0 2px;
  }

  #main {
      border-color: white;
      border-width: 2px;
      border-style: solid;
      min-height: 85vh;
  }

  .letter-button {
      margin: 0 2px;
      font-size: 30px;
      width: 40px;
      height: 40px;
      margin-top: 20px;
      font-family: monospace;
      text-decoration-color: rebeccapurple;
  }

  .word-display {
      font-size: 60px;
      border-color: white;
      border-bottom: 4px;
      border-top: 0;
      border-left: 0;
      border-right: 0;
      border-style: solid;
      padding: 0;
      max-width: 100em;
      display: inline-block;
      margin: 10px 20px;
      margin-top: 200px;
  }
    .word-not-display {
      font-size: 60px;
      border-color: white;
      border-bottom: 4px;
      border-top: 0;
      border-left: 0;
      border-right: 0;
      border-style: solid;
      padding: 0;
      max-width: 100em;
      display: inline-block;
      margin: 10px 20px;
      margin-top: 350px;
  }

  .hangman {
      width: 124px;
      height: auto;
      position: absolute;
      top: 394px;
      left: 122px;
  }
  .gallow{
      width: 255px;
      height: auto;
      position: absolute;
      top: 350px;
      left: 20px;

  }
  .result-gameover {
      color: red;
  }
  .result-gamewon {
      color:green;
  }
