<!DOCTYPE html>
<html>
<head>
    <!-- Meta information -->
    <title>Hangubi</title>
    <link href="css/styles.css" rel="stylesheet" type="text/css">
    <link async href="css/styles.css" data-generated="http://enjoycss.com" rel="stylesheet" type="text/css"/>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="js/index.js" type="text/javascript"></script>
</head>
<body>
<div id=content>
    <header class="header">
        <div>THE HANGUBI GAME</div>
    </header>
    <div id="game">
        <button class="button" id="start-button" v-on:click="start_button">{{startButtonMsg}}</button>
        <br>
        <letter-button
            v-for="item in letterList"
            v-bind:letter="item"
            v-bind:key="item.id" ></letter-button>
        <div id="tries-left"> Left tries: {{triesLeft}}</div>
        <img class="gallow" src="img/gallow.png" alt="the settlers character"><br>
        <img class="hangman" v-bind:src="'img/'+imageDisplay" alt="the settlers character">
        <letter-display
            v-for="item in displayVector"
            v-bind:letter="item"
            v-bind:key="item.id"></letter-display>
        <div v-bind:class="resultClass">{{resultMsg}}</div>
        <button class="button" v-show="showRevealButton" v-on:click="reveal_word">Reveal Game</button>
    </div>
    <footer>
        &copy; Vitor Roriz  
        <a href="https://www.linkedin.com/in/vitor-roriz-64666a105/"><img class="logo" src="img/LI-In-Bug.png" alt="Linkedln logo"></a> 
        <a href="https://www.github.com/vitorroriz"><img class="logo" src="img/GitHub-Mark-Light-120px-plus.png" alt="github logo"></a>
    </footer>
</div>
</body>
</html>